<table>
  <tr>
    <th>
      Result
    </th>
    <th>
      Recipe Name
    </th>
    <th>
      URL
    </th>
  </tr>
  <% i = @from.to_i %>
  <% @recipes.each do |recipe| %>
  <tr>
    <td>
      <%= i %>
    </td>
    <td>
      <%= recipe.name %>
    </td>
    <td>
      <%= link_to "off site link", recipe.link %>
    </td>
  </tr>
  <% i += 1 %>
  <% end %>
</table>
<%= @pages %>
<% if @current_page < 5 %>
<% 1.upto(5) do |p|%>
<%= link_to "page #{p}", pages_path(p, query: params["query"], to:"#{p*10}", from: "#{(p*10)-10}", pages: @pages) %>
<% end %>
...
<% p = @pages %>
<%= link_to "page #{p}", pages_path(p, query: params["query"], to:"#{p*10}", from: "#{(p*10)-10}", pages: @pages) %>
<% else %>
<% 1.upto(5) do |p| %>
<%= link_to "page #{p}", pages_path(p, query: params["query"], to:"#{p*10}", from: "#{(p*10)-10}", pages: @pages) %>
<% end %>
...
<% (@current_page - 2).upto(@current_page + 3) do |p| %>
<%= link_to "page #{p}", pages_path(p, query: params["query"], to:"#{p*10}", from: "#{(p*10)-10}", pages: @pages) %>
<% end %>
...
<% p = @pages %>
<%= link_to "page #{p}", pages_path(p, query: params["query"], to:"#{p*10}", from: "#{(p*10)-10}", pages: @pages) %>
<% end %>
