<section class="row index" >
  <%= image_tag random_image_url, class: "image-index columns small-10 small-centered columns" %>
  <h1 class="small-12 small-centered columns index text-center">muncher</h1>
  <small>keep munching</small>
  <section class="columns small-12">
    <%= form_tag pages_path(1), method: "get"  do %>
    <%= label_tag(:query, "Start munching") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag "Send", class: "button round" %>

    <% end %>
  </section>
</section>

<hr class="small-10 small-centered columns"/ >
<section class="row">
  <% if @user %>
  <h3>recent searches</h3>
  <% @user.recent_searches.each do |search| %>
  <%= link_to search, pages_path(1, query: "#{search}"), class: "label"%>
  <% end %>
  <% end %>
</section>
