<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

</head>

<body>
  <nav>
  <% if @user %>
  <%= link_to "log out of gogogle", logout_path, class: "float right button" %>
  <%= link_to "favorites", favorites_path, class: "float left  button" %>
  <% else %>
  <%= link_to "log in using gogole", google_login_path, class: "float right columns button" %>
  <% end %>
  <section class="row">
      <h1><%= link_to "muncher", root_path, class: "small-12 small-centered columns text-center", id: "index-link" %></h1>
  </section>
</nav>
  <%= params %>
  <% if flash.keys.length > 0%>
  <section class="row status">
    <% flash.each do |name, message| %>
    <h3 class="<%= name %>"><%= message %></h3>
    <% end %>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
  </html>
